.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(252, 224, 235);
}

.homeIcon {
  width: 2rem;
  height: 2rem;
  fill: rgba(0, 0, 0, 0.523);
}

.userIcon {
  width: 2rem;
  height: 2rem;
  fill: rgba(0, 0, 0, 0.523);
}

.title {
  display: none;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.user p {
  display: none;
}

.nav svg:hover {
  cursor: pointer;
}

@media screen and (width > 768px) {
  .title {
    display: block;
    font-size: 2rem;
  }

  .user p {
    display: block;
  }
}

@media screen and (width > 1024px) {
  .title {
    font-size: 3rem;
  }
}
